<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufpe.cin.if710.podcast">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".aplication.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SettingsActivity" />

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.MusicPlayer"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".db.PodcastProvider"
            android:authorities="br.ufpe.cin.if710.podcast.feed"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="br.ufpe.cin.if710.podcast.broadcast.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.EpisodeDetailActivity" />
    </application>



</manifest>